body {
	background-color: #9d4fc6;
	color: #9d4fc6;
}
h1 {
	color: #FFFFFF;
}
section {
	margin-left: 10%;
	margin-right: 10%;
	background-color: #FFFFFF;
	padding: 1%;
}
button {
	border: none;
	background-color: #9d4fc6;
	color: #FFFFFF;
}
#buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	justify-content: space-around;
}
